[flake8]
max-line-length = 127
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    migrations,
    staticfiles,
    .pytest_cache,
    .tox,
    *.egg-info,
    build,
    dist

ignore =
    E203,
    E266,
    E501,
    W503,
    F403,
    F401

max-complexity = 10

per-file-ignores =
    __init__.py:F401
    manage.py:F401
